# Chave de acesso à API da Gemini
# Gere a sua em: https://aistudio.google.com/app/api-keys
GEMINI_API_KEY=sua_chave_aqui

# Porta do servidor (opcional, padrão: 3000)
PORT=3000

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
GEMINI_API_KEY=
PORT=3000